<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!--type="text/javascript"></script>-->
    <script th:src="@{/resources/js/component/jquery-1.11.0.min.js}"
            type="text/javascript"></script>
    <script th:src="@{/resources/js/bootstrap.min.js}"
            type="text/javascript"></script>
    <script th:src="@{/resources/js/jquery.dataTables.min.js}"
            type="text/javascript"></script>
    <script th:src="@{/resources/js/dataTables.bootstrap.min.js}"
            type="text/javascript"></script>
    <script th:src="@{/resources/js/d3.min.js}"
            type="text/javascript"></script>
    <!--<script th:src="@{/resources/js/task_res_pic.js}"
        type="text/javascript"></script>-->
    <link rel="stylesheet"
          th:href="@{/resources/css/node.css}">
    <link rel="stylesheet"
          th:href="@{/resources/plugings/layui/css/layui.css}">
    <link rel="stylesheet"
          th:href="@{/resources/plugings/font-awesome-4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet"
          th:href="@{/resources/plugings/jquery-ui-1.12.1.custom/jquery-ui.min.css}">
    <link rel="stylesheet"
          th:href="@{/resources/css/web.contextmenu.css}">
    <link rel="stylesheet"
          th:href="@{/resources/css/bootstrap.min.css}">
    <link rel="stylesheet"
          th:href="@{/resources/css/dataTables.bootstrap.min.css}">
    <!--<link rel="stylesheet"-->
    <!--th:href="@{/resources/css/font-awesome.css}">-->

    <link rel="stylesheet"
          th:href="@{/resources/css/style.css}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style>
    #myProgress {
        position: relative;
        width: 100%;
        height: 30px;
        background-color: #ddd;
    }

    #myBar {
        position: absolute;
        width: 0%;
        height: 100%;
        background-color: #4CAF50;
    }

    #label {
        text-align: center;
        line-height: 30px;
        color: white;
    }
</style>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend id="task_title">基本信息</legend>
</fieldset>

<div style="padding: 20px; background-color: #F2F2F2;">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">创建信息</div>
                <div class="layui-card-body" id="orignal_info">
                    <label>任务编号：<a id="id"></a></label><br>
                    <label>任务名称：<a id="name"></a></label><br>
                    <label>任务类型：<a id="type"></a></label><br>
                    <label>发布人：<a id="creator"></a></label><br>
                    <label>任务描述：<a id="description"></a></label><br>
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">执行信息</div>
                <div class="layui-card-body">
                    <label>执行状态：<a id="state"></a></label><br>
                    <label>完成时间：<a id="finishTime"></a></label><br>
                    <label>查询结果：<a id="search_result"></a></label><br>
                    <label>版本号：<a id="version"></a></label><br>

                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">资源信息</div>
                <div class="layui-card-body">
                    <label>模型地址：<a id="url"></a></label><br>
                    <label>结果地址：<a id="result" ></a></label><br>
                    <label>结构化流信息：<a id="flow"></a></label><br>
                </div>
            </div>
        </div>
        <div class="layui-col-md6" id="midRes" style="display: none">
            <div class="layui-card" >
                <div class="layui-card-header">zw训练情况</div>
                <div class="layui-card-body">
                    <label>估计剩余时间：<a id="eta"></a></label><br>
                    <label>现有轮次/总轮次： <a id="train_step" ></a></label><br>
                    <label>训练进度</label><div id="myProgress"><div id="myBar"><div id="label">0%</div></div></div><br>
                </div>
            </div>
        </div>
        <div class="layui-col-md6" id="finRes" style="display: none" >
            <div class="layui-card" >
                <div class="layui-card-header"> zw模型信息</div>
                <div class="layui-card-body">
                    <label>节点1数据总量：<a id="worker1_data_amount"></a></label><br>
                    <label>节点2数据总量：<a id="worker2_data_amount" ></a></label><br>
                    <label>节点3数据总量<a id="worker3_data_amount" ></a></label><br>
                    <label>训练总轮数：<a id="totalRounds" ></a></label><br>
                    <label>节点1模型精度：<a id="worker1_accuracy" ></a></label><br>
                    <label>节点2模型精度：<a id="worker2_accuracy" ></a></label><br>
                    <label>节点3模型精度<a id="worker3_accuracy" ></a></label><br>
                </div>
            </div>
        </div >
        <div class="layui-col-md6" id="ycTrainRes" style="display: none" >
            <div class="layui-card" >
                <div class="layui-card-header"> yc模型信息</div>
                <div class="layui-card-body">
                    <label>异常轨迹Id：<a id="yctrack"></a></label><br>
                </div>
            </div>
        </div >
        <div class="layui-col-md6" id="ycPreRes" style="display: none" >
            <div class="layui-card" >
                <div class="layui-card-header"> 异常轨迹查询结果</div>
                <div class="layui-card-body">
                    <label>正确轨迹Id：<a id="regularTrack"></a></label><br>
                </div>
            </div>
        </div >
    </div>
</div>
</body>
<script>
    function child(id) {

        /*var task_id;
        $.ajax({
            url: '/in_sute_demo/searchTaskID.do',
            type: 'post',
            dataType: "json",
            data: {
                'id': id
            },
            success: function (result) {
                if(result.res!=null)
                    console.log("获取到非空task_id");
                task_id = result.res;
            }
        });*/
       /* setTimeout(function() {
            $.ajax({
                url: '/in_sute_demo/searchMiddleRes.do',
                type: 'post',
                data: {
                    "taskId": task_id
                },
                dataType: "json",
                success: function (result) {
                    if(result.res!=null) {
                        var midRes = result.res;
                        console.log(midRes.status);
                        if(midRes.status==0){
                            $('#finRes').css('display', 'none');
                            $('#midRes').css('display','block');
                            $('#eta').html(midRes.eta);
                            $('#train_step').html(midRes.train_step);
                        }
                        else if(midRes.status==1){
                            $("#midRes").css("display","none")
                            $('#finRes').css('display');
                            $("#worker1_data_amount").html(midRes.worker1_data_amount);
                            $("#worker2_data_amount").html(midRes.worker2_data_amount);
                            $("#totalRounds").html(midRes.iter_steps);
                            $("#worker1_accuracy").html(midRes.worker1_accuracy);
                            $("#worker2_accuracy").html(midRes.worker2_accuracy);
                        }
                    }
                }
        })},1000);*/
      /*  $.ajax({
                url: '/in_sute_demo/searchMiddleRes.do',
                type: 'post',
                dataType: "json",
                data: {
                    'taskId': task_id
                },
            success: function (result) {

                if(result.res!=null) {
                    var midRes = result.res;
                    console.log(midRes.status);
                    if(midRes.status==0){
                        $('#finRes').css('display', 'none');
                        $('#midRes').css('display','block');
                        $('#eta').html(midRes.eta);
                        $('#train_step').html(midRes.train_step);
                    }
                    else if(midRes.status==1){
                        $("#midRes").css("display","none")
                        $('#finRes').css('display');
                        $("#worker1_data_amount").html(midRes.worker1_data_amount);
                        $("#worker2_data_amount").html(midRes.worker2_data_amount);
                        $("#totalRounds").html(midRes.iter_steps);
                        $("#worker1_accuracy").html(midRes.worker1_accuracy);
                        $("#worker2_accuracy").html(midRes.worker2_accuracy);
                    }
                }
            }
            });*/
        setInterval(function () {
            $.ajax({
                url: '/in_sute_demo/searchTask.do',
                type: 'post',
                data: {"id": id},
                success: function (result) {
                    var name = result['name'];
                    //创建信息
                    document.getElementById('task_title').innerHTML = result['name'] + "详细信息";
                    document.getElementById('id').innerHTML = result['id'];
                    document.getElementById('name').innerHTML = result['name'];
                    document.getElementById('type').innerHTML = result['type'];
                    document.getElementById('creator').innerHTML = result['creator'];
                    document.getElementById('description').innerHTML = result['description'];

                    //执行信息
                    document.getElementById('state').innerHTML = result['state'];
                    document.getElementById('finishTime').innerHTML = result['complete_time'];
                    document.getElementById('version').innerHTML = result['version'];
                   // document.getElementById('search_result').innerHTML = result['search_result'];
                    document.getElementById('search_result').innerHTML = result['search_result'];
                    // 查询中间结果展示

                    //模型地址
                    if (result['url'] != "未发布") {
                        document.getElementById('url').href = result['url'];
                        document.getElementById('url').innerHTML = "直达链接";
                        document.getElementById('url').download = result['url'];
                    } else {
                        document.getElementById('url').innerHTML = "未发布";
                    }

                    //查询结果图片

                    if (result['result'] != "未发布") {
                //document.getElementById('result').href = "resources/result/" + result['result'];  本地测试
                        document.getElementById('result').href = result['result'];
                        document.getElementById('result').innerHTML = "点击查看";
                    } else {
                        document.getElementById('result').innerHTML = "未发布";
                    }

                    //结构化流信息
                    document.getElementById('flow').innerHTML = result['flow'];

                //模型中间及最终结果
                    if(result!=null) {
                        var epochs = result['epoch'];
                        console.log(epochs/10)
                        console.log(result);
                       // console.log(result.train_step/epochs)
                        if(result.status==0){
                            if(result.task_type=="zw"){
                                $('#finRes').css('display', 'none');
                                $('#midRes').css('display','block');
                                $('#eta').html(result.eta);
                                $('#train_step').html(result.train_step);
                                document.getElementById("myBar").style.width = (result.train_step/epochs)*100 + '%';
                                document.getElementById("myBar").innerHTML = (result.train_step/epochs * 1)*100  + '%';
                            }
                        }
                        else if(result.status==1){
                            if(result.task_type=="zw"){
                                $("#midRes").css("display",'block')
                                $('#finRes').css('display','block');
                                $("#worker1_data_amount").html(result.worker1_data_amount);
                                $("#worker2_data_amount").html(result.worker2_data_amount);
                                $("#worker3_data_amount").html(result.worker3_data_amount);
                                $("#totalRounds").html(result.iter_steps);
                                $("#worker1_accuracy").html((result.worker1_accuracy*100).toFixed(2)+'%');
                                $("#worker2_accuracy").html((result.worker2_accuracy*100*1).toFixed(2)+'%');
                                $("#worker3_accuracy").html((result.worker3_accuracy*100*1).toFixed(2)+'%');
                                $('#train_step').html(result.train_step);
                                document.getElementById("myBar").style.width = (result.train_step/epochs)*100 + '%';
                                document.getElementById("myBar").innerHTML = (result.train_step/epochs * 1)*100  + '%';
                            }
                            else if(result.task_type=="yc"){
                                if(result.task_name=="yctrain"){
                                    $("#midRes").css("display",'none')
                                    $('#finRes').css('display','none');
                                    $('#ycPreResRes').css('display','none');
                                    $('#ycTrainRes').css('display','block');
                                    document.getElementById('yctrack').innerHTML = result['yc_result'];
                                }
                                else if(result.task_name=="ycpredict"){
                                    console.log(result['regular_result']);
                                    $("#midRes").css("display",'none');
                                    $('#finRes').css('display','none');
                                    $('#ycTrainRes').css('display','none');
                                    $('#ycPreRes').css('display','block');
                                    document.getElementById('regularTrack').innerHTML = result['regular_result'];
                                }
                            }
                            //window.clearInterval(t);
                        }
                    }
                }


            })},3000);
        //获取基本任务信息(查看页面)

    }
</script>
</html>